<h1>{{title}}</h1>
<p>Created by Abdallah Bilal</p>
<p>This is a Football API that allows you to manage football teams and players.</p>
<p>Use the following endpoints to interact with the API:</p>
<ul></ul>
<li>GET /football-teams - Retrieve all football teams</li>
  <li>POST /football-teams - Create a new football team</li>
  <li>PUT /football-teams - Update a football team</li>
  <li>DELETE /football-teams - Delete a football team</li>
  <li>GET /players - Retrieve all players</li>
  <li>POST /players - Create a new player</li>
  <li>GET /docs/dynamic - View API documentation</li>
</ul>